/*General Styles*/
*{
  font-family:comic sans ms;
}
body{
  background-color:#ffffff;
}
h2{
  font-size:1.5rem;
  text-align:center;
}

p{
  font-size:1rem;
}

/*Styles for root div*/
.episodesContainer{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.episodes{
  width:97.7vw;
  height:auto;
  display:flex;
  flex-wrap:wrap;
  
  justify-content:center;
}

.episode{
  width:300px;
  height:600px;
  background-color:#ffffff;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  padding:2rem 4rem;
  margin:2rem;
}
.episode h2{
  background-color:#00ff99;
  width:100%;
  padding:2rem 0;
  border-radius:50px;
}
.episode img{
  width:400px;
  height:auto;
}

/*show Buttons*/
.showAllEpisodesBtn{
  display:none;
}

/*Drop down*/
.dropDown{
  display:none;
}